body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/*header's styling*/

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.tabs{
    display: flex;  
    justify-content: space-between;
    padding: 18px 0;
}

#logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.text, .description img{
    width: 49%;
}

.text h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.text p, 
.tabs a, 
.tabs li{
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 22px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.description{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}

.description button{
    background-color: #3882f6;
    padding: 6px 25px;
    border-radius: 5px;
    font-weight: 800;
}


.description img{
    color: #f9faf8;
    background-color: #818180;
}

/* Body's styling */

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.body-container, 
.sign-up{
    margin: 0 auto;
}

.body-container{
    padding: 50px;
}

.title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.pictures{
    display: flex;
    gap: 58px;
}

.pictures div{
    width: 200px;
}

.pictures img{
    display: inline-block;
    box-sizing: border-box;
    border: 4px solid #3882f6; 
    border-radius: 18px;
    width: 100%;
    height: 200px;  
}

.pictures p{
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
    padding:5% 20%;
}

.quote p{
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
}

#author{
    text-align: end;
}

.sign-up{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 50px 100px;
    margin: 100px auto;
    border-radius: 12px;
    width: 60%;
}

.sign-up h1{
    color:#f9faf8;
    font-weight: 900;
}

.sign-up p{
    color: #e5e7eb;
    font-size: 18px;
}

.button{
    display: flex;
    align-items: center;
}

.sign-up button{
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 6px;
    padding: 8px 32px;
    font-weight: 800;
    font-size: 18px;
}

/* Footer's styling */

.footer{
    font-size: 18px;
    padding: 20px;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}