.container{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

a{
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    color: #f9faf8;
}

button{
    background-color: #3882f6;
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    align-self: flex-start;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 200px;
}